@font-face {
  font-family: neuropol;
  src: url(Neuropol.ttf);
}

@font-face {
  font-family: hermit;
  src: url(Hermit.otf);
}

body {
  background-color: #000000;
}

a {
  text-decoration: none;
  position: relative;
}

a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 2px solid;
  transition: 0.4s;
}

a:hover:after {
  width: 100%;
}

.top {
  font-family: neuropol;
  font-size: 65px;
  text-align: center;
  margin-top: 30px;
  color: #ffffff;
}

.instagram {
  font-size: 25px;
  font-family: hermit;
  color: #f10a1c;
}

.github {
  font-size: 25px;
  font-family: hermit;
  color: #ffed00;
  margin-left: 20px;
}

.discord {
  font-size: 25px;
  font-family: hermit;
  color: #7289da;
  margin-left: 20px;
}

.mail {
  font-size: 25px;
  font-family: hermit;
  color: #00ffdf;
  margin-left: 20px;
}

.center {
  text-align: center;
  vertical-align: middle;
  line-height: 90px;
}

.link {
  text-decoration: none;
}

.about-text {
  font-size: 25px;
  font-family: hermit;
  color: #ffffff;
}

.html {
  color: #f06529;
}

.css {
  color: #1e90ff;
}

.github-pages {
  color: #ffed00;
}

.github-repo {
  color: #00ff57;
}
